[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
jupyterlab = "0.33.12"
matplotlib = "2.2.4"
ipython = "5.8.0"
pandas = "0.24.2"
descarteslabs-internal = {file = "https://storage.googleapis.com/dl-workflows-pypi/v0-1/v2019.06.07-10-ga5f3c066/descarteslabs-internal.tar.gz"}

[requires]
python_version = "2.7"
