[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
jupyterlab = "*"

[packages]
descarteslabs-internal = {file = "https://storage.googleapis.com/dl-workflows-pypi/v0-1/v2019.06.07-10-ga5f3c066/descarteslabs-internal.tar.gz"}
numpy = "~=1.16"
pandas = "~=0.24"
matplotlib = "~=2.2"

[requires]
python_version = "2.7"
